/* In static/src/css/custom_style.css */

.sidebar-container {
    position: relative;
}

/* @media (max-width: 993px) {
    .sidebar {
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        box-shadow: 2px 0px 5px rgba(0,0,0,0.2);
        overflow: hidden;
    }
} */

/* Sidebar Styles */
.sidebar {
    width: 18%;
    background: #f8f8f8;
    padding: 20px;
    border-right: 1px solid #a1a1a1;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

/* Main Content Styles */
.content {
    width: 75%;
    padding: 20px;
    min-height:70vh;
    height: 100%;
}

/* Change document link color */
.sidebar a {
    color: #333; /* Dark gray instead of default blue */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
.sidebar a:hover {
    color: #e69500; /* Darker orange on hover */
}


.sidebar ul {
    padding: 0;
    list-style-type: none;
}

.sidebar li {
    display: block;
    text-align: left;
}

/* Sidebar pomeranje u levu stranu */
.container.d-flex {
    margin-left: -20px;
    max-width: 100%;
}
